.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.App_debug {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: var(--tile-border) var(--tile-border) black;
  width: fit-content;
}

.App__screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.App__direction {
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  background-color: rgba(255, 255, 0, 0.5);
}

.App__controller {
  position: absolute;
  bottom: 0;
}